.container {
    display: flex;
    flex-direction: column;
}

.heading h1 {
    text-align: center;
}

.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 100%;
}

.search-wrapper {
    width: 650px;
    margin: auto;
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
    cursor: pointer;
}

.search-icon-wrapper {
    margin: auto;
}

.search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin: -37px 0 0;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}

.searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: 5px;
    align-items: stretch;
    flex-direction: row;
    cursor: pointer;
}

.searchbar-clear-icon {
    margin-right: 12px
}

.card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
    margin: 50px auto 0;
}

.card h3 {
    font-size: 22px;
    font-weight: 600;

}

.drop_box {
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
}

.drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
}

.drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #a3a3a3;
}

.btn {
    text-decoration: none;
    background-color: #005af0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
}

.btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}
.banner-section {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: flex-start; /* Aligns items to the start of the container */
    align-items: flex-start; /* Aligns items to the top of the container */
}

.banner-section img {
    flex: 0 0 20%; /* Each image will take up 20% of the container's width */
    max-height: 200px; /* Adjust the height as needed */
    width: auto; /* Maintains aspect ratio */
    border: 2px solid black; /* Adds a border - adjust style as needed */
    margin: 5px; /* Adds space around images */
    box-sizing: border-box; /* Includes border and padding in the element's total width and height */
}




#note_customtag {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-bottom: 10px;
}

#note_customtag:focus, #note_customtag:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

#note_customtag::placeholder {
    color: #777;
}

#note_customtag:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}
